---
import Layout from '@/layouts/Layout.astro'
import { skills } from '../data/cv'

import List from '@/components/ui/List.astro'

---

<Layout>

	{
		skills.length > 0 && (
			<section class='mb-12'>
				<List listTitle='Skills' listItems={skills}/>
			</section>
		)
	}
</Layout>
