---
import Layout from "@/layouts/Layout.astro";

import { seo } from "@/settings";
---

<Layout title={`Artificial Intelligence | ${seo.default_title}`}>
  <div class="prose max-w-none">
    <h1 class="mb-8 text-3xl font-bold">Artificial Intelligence</h1>
    <div class="mb-12">
      <p class="mb-6 text-lg">
        Retrieval-Augmented Generation (some knowledge), Named Entity
        Recognition (some knowledge), LangChain (some knowledge), PyTorch (some
        knowledge), Transformers library from HuggingFace (some knowledge).
      </p>
    </div>
  </div>
</Layout>
