---
import Layout from "@/layouts/Layout.astro";
import { Code } from "astro:components";

import { seo } from "@/settings";
import { codesql } from "@/data/code";
---

<Layout title={`Databases | ${seo.default_title}`}>
  <div class="prose max-w-none">
    <h1 class="mb-8 text-3xl font-bold">Databases</h1>
    <p class="mb-6 text-lg">
      I am a very experienced programmer in several database systems, but
      specially with relational databases and SQL.
    </p>

    <h2 class="mb-8 text-2xl font-bold">SQL</h2>
    <p class="mb-6 text-lg">
      I am a very experienced SQL programmer and an enthusiast of <a
        href="https://postgresql.org"
        target="_blank">PostgreSQL</a
      >.
    </p>
    <Code code={codesql} lang="sql" wrap />

    <h2 class="mb-8 text-2xl font-bold">No-SQL</h2>
    <p class="mb-6 text-lg">
      I have experience in using <a href="https://mongodb.com" target="_blank"
        >MongoDB</a
      > for of the <a
        href="https://github.com/rogorido/apiatlantocracies"
        target="_blank"
        >Atlantocracies project
      </a>.
    </p>
  </div>
</Layout>
