---
import Layout from "@/layouts/Layout.astro";
import { Code } from "astro:components";
import { Image } from "astro:assets";
import Cagayan from "@/assets/buffercagayan.png";
import LibroIgnacio from "@/assets/libro-ignacio-fase4.webp";

import { codesql, coder, codecpp, codejs, codepostgis } from "@/data/code";
import { seo } from "@/settings";
---

<Layout title={`GIS | ${seo.default_title}`}>
  <div class="prose max-w-none">
    <h1 class="mb-8 text-3xl font-bold">Geographic Information Systems</h1>
    <div class="mb-12">
      <p class="mb-6 text-lg">
        I am a very experienced GIS programmer. I used frequently PostGIS, QGIS
        and OpenLayers.
      </p>
    </div>

    <div class="size-192 lg:block">
      <Image
        src={Cagayan}
        alt="Cagayán valley and missions"
        class="h-full w-full"
      />
    </div>

    <h2 class="mb-8 text-2xl font-bold">PostGIS</h2>

    <p class="mb-6 text-lg">
      I have used
      <a href="www.postgis.net" target="_blank">PostGIS</a> for many analyses. See
      among others the <a
        href="https://github.com/rogorido/gismissions/tree/main/sqls"
        target="_blank"
        >Project gismissions
      </a>.
    </p>
    <Code code={codepostgis} lang="sql" wrap />

    <h2 class="mb-8 text-2xl font-bold">QGIS</h2>

    <p class="mb-6 text-lg">
      I frequently use <a href="https://qgis.org" target="_blank">QGIS</a>
      for my publications. I am able to use very advanced features such as georeferencing,
      personalized styles, time manager, etc. And I also have published maps created
      for the books of other authors. For instance for the book <a
        target="_blank"
        href="https://www.marcialpons.es/libros/federico-ii-y-la-prusia-del-siglo-xviii/9788413570495/"
        >Federico II y la prusia del siglo XVIII
      </a> (by José Ignacio Ruiz Rodríguez).
    </p>
    <div class="size-192 lg:block">
      <Image
        src={LibroIgnacio}
        alt="Prussia's Expansion"
        class="h-full w-full"
      />
    </div>

    <h2 class="mb-8 text-2xl font-bold">OpenLayers</h2>

    <p class="mb-6 text-lg">
      I extensively use <a href="https://openlayers.org" target="_blank"
        >OpenLayers</a
      > for many frontend projects, like the webpage of the <a
        href="https://github.com/rogorido/apiatlantocracies"
        target="_blank"
        >Atlantocracies project
      </a>.
    </p>
  </div>
</Layout>
