---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Emacs from "@/assets/emacs.png";
import List from "@/components/ui/List.astro";
import { seo } from "@/settings";
---

<Layout title={`GIS | ${seo.default_title}`}>
  <div class="prose max-w-none">
    <h1 class="mb-8 text-3xl font-bold">Dotfiles</h1>
    <div class="mb-12">
      <p class="mb-6 text-lg">
        I am a very experienced GNU/Linux user with a complex setup. Take a look
        at <a href="https://github.com/rogorido/dotfiles" target="_blank"
          >my dotfiles</a
        >.
      </p>
    </div>
    <div class="size-192 hidden lg:block">
      <!-- Add your profile image -->
      <Image
        src={Emacs}
        alt="Emacs in action"
        class="mask mask-hexagon-2 h-full w-full"
      />
    </div>
  </div>
</Layout>

<!-- <Layout title={`Skills | ${seo.default_title}`}>
    {
        skills.length > 0 && (
            <section class="mb-12">
                <List listTitle="Skills" listItems={skills} />
            </section>
        )
    }
</Layout> -->
