---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Emacs from "@/assets/emacs.png";

import { seo } from "@/settings";
---

<Layout title={`Dotfiles | ${seo.default_title}`}>
  <div class="prose max-w-none">
    <h1 class="mb-8 text-3xl font-bold">Dotfiles</h1>
    <div class="mb-12">
      <p class="mb-6 text-lg">
        I am a very experienced GNU/Linux user with a complex setup. Take a look
        at <a href="https://github.com/rogorido/dotfiles" target="_blank"
          >my dotfiles</a
        >. I also have the <a
          href="https://lpi.org/v/LPI000655788/r84t9z2mrd"
          target="_blank"
        >
          Linux Professional Institute Certificate (LPIC-1)</a
        >.
      </p>
    </div>
    <div class="size-192 lg:block">
      <Image
        src={Emacs}
        alt="Emacs in action"
        class="mask mask-hexagon-2 h-full w-full"
      />
    </div>
  </div>
</Layout>
