---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Emacs from "@/assets/emacs.png";

import { seo } from "@/settings";
---

<Layout title={`Web technologies | ${seo.default_title}`}>
  <div class="prose max-w-none">
    <h1 class="mb-8 text-3xl font-bold">Javascript Frontends: VueJS</h1>
    <div class="mb-12">
      <p class="mb-6 text-lg">
        I am using everyday for my frontend projects the wonderful javascript
        framework <a target="_blank" href="https://vuejs.org/"> VueJS</a>, in
        most cases with <a target="_blank" href="https://nuxt.com/">Nuxt</a> (and
        <a target="_blank" href="https://primevue.org/">PrimeVue</a>
        ).
      </p>
    </div>

    <!--Static sites-->
    <h1 class="mb-8 text-3xl font-bold">Javascript Backends</h1>
    <div class="mb-12">
      <p class="mb-6 text-lg">
        I am an expert in Application Programming Interfaces using the nodejs
        stack. I'm often using <a target="_blank" href="https://fastify.dev/">
          fastifyjs</a
        > for as server. Since I use a lot PostgreSQL I need an interface for it.
        For these cases I like the wonderful library pg-promise <a
          target="_blank"
          href="https://github.com/vitaly-t/pg-promise"
        >
          pg-promise</a
        > a lot.
      </p>
      <p>
        I have programmed several APIs. One of the most complex APIs I have
        created is the API for my project <a
          href="https://dominicans.georeligion.org/"
          >Early Modern Dominican Order</a
        > (EMDO). You can find <a
          href="https://github.com/rogorido/apidominicans">here</a
        > the API's code.'
      </p>
    </div>

    <!--Static sites-->
    <h1 class="mb-8 text-3xl font-bold">Static Site Generators</h1>
    <div class="mb-12">
      <p class="mb-6 text-lg">
        Static Site Generators are one of the most useful developments of the
        last years. I am a very experienced developer with some of them such as <a
          target="_blank"
          href="https://astro.build/">Astro</a
        > with which <a
          target="_blank"
          href="https://github.com/rogorido/rogorido.github.io">this webpage</a
        > has been made!
      </p>
    </div>
  </div>
</Layout>
