---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    journal: string;
    time: string;
  }[];
}
const { listTitle, listItems } = Astro.props;
---

<h2 class="mb-8 text-3xl font-bold">Recent Publications</h2>
<div class="space-y-6">
  {
    listItems.map((item) => (
      <div class="rounded-lg bg-base-200 p-6 text-base-content">
        <h3 class="mb-2 text-xl font-semibold">{item.title}</h3>
        <p>
          {item.journal} • {item.time}
        </p>
      </div>
    ))
  }
</div>
