---
interface Props {
  gridTitle: string;
  gridItems: {
    title: string;
    description: string;
  }[];
}

const { gridTitle, gridItems } = Astro.props;
---

<h2 class="mb-8 text-3xl font-bold">{gridTitle}</h2>
<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  {
    gridItems.map((item) => (
      <div class="rounded-lg bg-base-200 p-6 text-base-content">
        <h3 class="mb-3 text-xl font-semibold">{item.title}</h3>
        <p>{item.description}</p>
      </div>
    ))
  }
</div>
