---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    description: string;
  }[];
}
const { listTitle, listItems } = Astro.props;
---

<h2 class="mb-6 text-2xl font-bold">{listTitle}</h2>
<div class="mb-12 grid gap-6">
  {
    listItems.map((item) => (
      <div class="rounded-xl bg-base-200 p-6 text-base-content">
        <h3 class="mb-3 text-xl font-semibold">{item.title}</h3>
        <p>{item.description}</p>
      </div>
    ))
  }
</div>
